$react-blue: #00d8ff;
$bar-dark-text: $react-blue;
$dark: #000000;
$positive: $react-blue;

// this is from https://github.com/reactionic/reactionic-kitchensink/blob/master/app/client/styles/app.scss

@import '{}/node_modules/reactionic/src/styles/_reactionic.scss';

.stretch {
    height: 100%;
    width: 100%;
}

.platform-ios.platform-cordova {
  &:not(.fullscreen) {
    .scroll-content.ios-top-margin {
        top: $ios-statusbar-height;
    }
    .bar-header:not(.bar-subheader) {
      span > .title {
          top: $ios-statusbar-height;
      }
    }
  }
}

.bar-dark .button.button-clear {
    color: $react-blue;
}
